logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

\.gradle/4\.9/fileChanges/last-build\.bin

\.gradle/4\.9/fileHashes/fileHashes\.bin

\.gradle/4\.9/fileHashes/fileHashes\.lock

\.gradle/vcsWorkingDirs/gc\.properties
